body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 48px 16px;
}
.heading {
  font-size: 48px;
  text-align: center;
  margin: 0;
}